*{
    margin:0px;
    padding:0px;
    box-sizing: border-box
}

nav {
    float:right;
    background-color: white;
    align-items: center; 
}

.logo {
    float:left;
    background-color:#4aaaa5;
    color: whitesmoke;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 22px;
    margin-left: 200px;
    border-bottom: solid 2px #777777;
    height: 80px;
}

.links a {
    color:#777777;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    opacity: .8;
}

.links li {
    list-style: none;
    display: inline-block;
    margin: 22px 42px;
    
    text-align: center;
}

.links a:hover {
    color: blue;
    font-size: 18px;
}

#main-info {
    width: 50%;
    background-color: white;
    border: solid 2px #777777;
    padding: 12px;
    margin-left: 25%;
    margin-top: 40px;
    height: 960px;
    
}

h2 {
    color: #4aaaa5;
    padding: 22px;
    border-bottom: solid 1px #777777;
}

body {
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                      radial-gradient(gray 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
}

header {
    background-color: white;
    height: 80px;
    border-bottom: solid 2px #777777;
}

.img {
    margin-right: 25%;
    padding: 22px; 
}

